@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#text{
    opacity: 0;
}
.animated {
    animation: fadeIn 1s ease-out forwards;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 2px solid white;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    display: none; /* Initially hidden */
    margin-left: 10px; /* Space between the text and the spinner */
    vertical-align: middle; /* Align with the text */
}

